/* Base Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Matching color for the navbar */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f5f5dc; /* Matching color with the rest of the website */
    padding: 15px 30px;
    border-bottom: 1px solid black;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-right {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0 20px 0 0; /* Small left margin added to slightly move it left */
}

.nav-right li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.nav-right li a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.logo {
    width: 50px;
    transition: transform 0.5s;
}

/* Slide Effect */
.section-container {
    overflow-y: hidden;
}

.slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
}

h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 15px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
    text-align: center;
}

.contact-button {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
    background-color: #555;
}

/* Contact Section */
#contact {
    align-items: left;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* General Link Styles */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
